/* layout */
/* container ========= */
.container {
	max-width: 25rem;
	margin-inline: auto;
	padding: 2rem 1rem;
}

@media (min-width: 43.75rem) {
	.container {
		max-width: 43.5rem;
	}
}

@media (min-width: 73.125rem) {
	.container {
		max-width: 72rem;
	}
}

/* Mobile layout ========== */
.main--wrapper {
	display: grid;
	gap: 2.5rem;
}

.main--article,
.cta,
.secondary--article--wrapper {
	display: grid;
	gap: 1rem;
}

.trending--article--column a {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1.5rem;
}

/* Tablet layout ========== */
@media (min-width: 43.75rem) {
	.main--article {
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

	.main--wrapper {
		gap: 2.5rem;
	}

	.heading--img--container {
		grid-column: span 2;
	}

	.cta {
		justify-items: start;
	}

	.main--paragraph--text {
		text-align: left;
	}

	.secondary--article--wrapper {
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}
}

/* Desktop layout ========== */
@media (min-width: 73.125rem) {
	/* main ========== */
	.main--wrapper {
		grid-template-columns: repeat(3, 1fr);
		gap: 6rem 2rem;
	}

	.main--article {
		grid-area: 1 / 1 / 1 / 3;
	}

	.cta {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		justify-items: start;
	}

	.main--paragraph--text {
		text-align: left;
	}

	/* trending | secondary--article ========== */
	.secondary--article--wrapper {
		grid-template-columns: 1fr 1fr 1fr;
		grid-area: 2 / 1 / 2 / 4;
	}
}
