/* global css ========== */
* {
	transition: all ease 0.2s;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: var(--ff-primary);
	background-color: var(--clr-neutral-100);
}

/* Typoography ========== */
h1 {
	font-size: 2.875rem;
}

h2 {
	font-size: 1.75rem;
}

p {
	font-size: 0.875rem;
}

@media (min-width: 43.75rem) {
	h1 {
		font-size: 3.5rem;
	}
	h2 {
		font-size: 2.25rem;
	}
	p {
		font-size: 0.9375rem;
	}
}

/* attribution | footer ========== */

.attribution {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: var(--fw-normal);
	font-size: 11px;
	padding: 0 3rem;
	color: var(--clr-accent-orange);
}

.attribution a {
	color: var(--clr-accent-red);
}

/* navbar ========== */

/* main ========== */
.heading--img--container,
.news--heading a {
	transition: transform 0.2s;
}

.heading--img--container a:is(:hover, :focus-visible) picture,
.news--heading a:is(:hover, :focus-visible) {
	-webkit-filter: brightness(0.85);
	filter: brightness(0.85);
}

.heading--img {
	height: 100%;
}

.main--heading--text {
	font-weight: var(--fw-bolder);
}

.main--paragraph--text {
	color: var(--clr-neutral-300);
	line-height: 2;
}

.main--button a {
	display: inline-block;
	color: var(--clr-neutral-100);
	background: var(--clr-accent-red);
	padding: 1rem 2rem;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-weight: var(--fw-bold);
	font-size: 0.85em;
}

.main--button :is(:hover, :focus-visible) {
	background: var(--clr-neutral-400);
}

/* news | aside ========== */
.aside--wrapper {
	background: var(--clr-neutral-400);
	color: var(--clr-neutral-100);
	padding: 2rem;
}

.news--heading a {
	color: var(--clr-accent-orange);
}

.news--article {
	padding-block: 2rem;
	border-bottom: 1px solid var(--clr-neutral-300);
}

.news--article:last-child {
	border: 0;
	padding-bottom: unset;
}

.news--article a {
	display: grid;
	gap: 0.5rem;
	color: var(--clr-neutral-100);
}

.news--article a:is(:hover, :focus-visible) {
	color: var(--clr-accent-orange);
}

.news--description {
	line-height: 1.75;
	color: var(--clr-neutral-200);
}

/* trending | secondary--article ========== */
.secondary--article--wrapper {
	counter-set: article-counter;
}

.trending--article--column a {
	color: var(--clr-neutral-400);
	counter-increment: article-counter;
	align-items: center;
}

.trending--article--column a:is(:hover, :focus-visible) {
	color: var(--clr-accent-red);
}

.trending--img--container img {
	width: 100%;
}

.trending--article {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

.trending--article::before {
	content: "0" counter(article-counter);
	display: block;
	font-size: 2rem;
	font-weight: var(--fw-bold);
	color: var(--clr-neutral-200);
}

.trending--top h2 {
	color: var(--clr-neutral-200);
	font-weight: var(--fw-bold);
}

.trending--title a {
	color: var(--clr-neutral-400);
	font-weight: var(--fw-bolder);
}

.trending--title a:is(:hover, :focus-visible) {
	color: var(--clr-accent-red);
}

.trending--description {
	color: var(--clr-neutral-300);
	font-weight: var(--fw-normal);
}

/* header | navbar ========== */
header {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-block: 2rem;
}

.logo {
	width: 70%;
}

.overlay {
	cursor: pointer;
	display: none;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: #000000a1;
}

.nav--menu--button {
	position: absolute;
	top: 2.35rem;
	right: 0;
}

.nav--list {
	display: none;
}

.nav--wrapper {
	display: flex;
	flex-direction: row-reverse;
	z-index: 100;
}

.nav--close--button {
	display: block;
	z-index: 100;
	cursor: pointer;
	/* position: sticky; */
	/* top: 2rem; */
	/* right: 4rem; */
}

.closed {
	display: none;
}

.opened {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	z-index: 99;
	position: fixed;
	top: 0;
	right: 0;
	width: 70vw;
	height: 100vh;
	/* padding-block: 7rem; */
	background: var(--clr-neutral-100);
}

.nav--list a {
	color: var(--clr-neutral-400);
	display: flex;
	width: 80%;
}

.nav--list a:is(:hover, :focus-visible) {
	color: var(--clr-accent-red);
	background: var(--clr-accent-orange);
}

@media (min-width: 43.75rem) {
	.logo {
		width: 100%;
	}

	.opened {
		background: none;
	}

	.nav--menu--button,
	.nav--close--button {
		display: none;
	}

	.nav--wrapper {
		background: transparent;
	}

	.navbar,
	.nav--list {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2rem;
	}

	.nav--list a {
		color: var(--clr-neutral-400);
	}

	.nav--list a:is(:hover, :focus-visible) {
		color: var(--clr-accent-red);
	}
}
