/* global css ========== */
* {
	transition: all ease 0.2s;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font: 16px var(--ff-primary);
	background: var(--clr-neutral-100);
	padding: 1rem;
}

/* attribution ========== */

.attribution {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: var(--fw-normal);
	font-size: 11px;
	padding-inline: 3rem;
	color: var(--clr-accent-orange);
}

.attribution a {
	color: var(--clr-accent-red);
}

/* navbar ========== */

.navbar {
	/* display: none; */
	display: flex;
	justify-content: space-between;
	position: relative;
	padding-block: 2rem;
}

.nav-menu-button {
	position: absolute;
	top: 2.75rem;
	right: 0;
	cursor: pointer;
}

.nav--list {
	display: none;
}

haha.opened {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 80vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: -2rem;
	z-index: 1;
	padding-block: 2rem;
	background: var(--clr-neutral-300);
	box-shadow: 0px 0px 0px 200px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 0px 200px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 0px 200px rgba(0, 0, 0, 0.75);
}

.nav--list a {
	color: var(--clr-neutral-400);
}

.nav--list a:is(:hover, :focus-visible) {
	color: var(--clr-accent-red);
}

@media (min-width: 62rem) {
	.nav-menu-button {
		display: none;
	}

	.navbar,
	.nav--list {
		display: flex;
		flex-direction: row;
		padding-block: 1.5rem;
		align-items: center;
		gap: 2rem;
		background: transparent;
		position: static;
		width: auto;
		height: auto;
	}

	.nav--list a {
		color: var(--clr-neutral-400);
	}

	.nav--list a:is(:hover, :focus-visible) {
		color: var(--clr-accent-red);
	}
}

/* spacing ========= */
.container {
	max-width: 1440px;
	margin-inline: auto;
}

.main--heading--text,
.heading--img--container,
.main--paragraph--text {
	margin-bottom: 3rem;
}
.cta,
.aside--wrapper {
	margin-bottom: 5rem;
}

/* main ========== */
.heading--img {
	margin-inline: auto;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.main--heading--text {
	font-size: 3rem;
	max-width: 12ch;
	font-weight: var(--fw-bolder);
}

.main--paragraph--text {
	color: var(--clr-neutral-300);
	line-height: 2;
	max-width: 80ch;
}

.main--button {
	all: unset;
}

.main--button a {
	color: var(--clr-neutral-100);
	background: var(--clr-accent-red);
	padding: 1rem 2rem;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-weight: var(--fw-bold);
}

.main--button :is(:hover, :focus-visible) {
	background: var(--clr-neutral-400);
}

/* news | aside ========== */
.aside--wrapper {
	background: var(--clr-neutral-400);
	color: var(--clr-neutral-100);
	padding: 2rem;
}

.news--heading a {
	font-size: 2.5rem;
	color: var(--clr-accent-orange);
}

.news--title {
	margin-bottom: 1rem;
}

.news--title a {
	color: var(--clr-neutral-100);
}

.news--title a:is(:hover, :focus-visible) {
	color: var(--clr-accent-orange);
}

.news--description {
	line-height: 1.75;
	color: var(--clr-neutral-200);
}

.news--article,
.news--heading {
	margin-bottom: 2rem;
}

.news--article {
	padding-bottom: 3rem;
	border-bottom: 1px solid var(--clr-neutral-300);
}

.news--article:last-child {
	padding: unset;
	border: 0;
	margin: unset;
}

/* trending articles | footer ========== */

.trending--article--container {
	gap: 2rem;
}

.trending--article--column {
	display: flex;
	gap: 2rem;
	margin-bottom: 3rem;
}

.trending--img--container {
	-o-object-fit: cover;
	object-fit: cover;
}

.trending--article {
	flex-basis: 100%;
}

.trending--article div {
	margin-bottom: 0.75rem;
}

.trending--top {
	color: var(--clr-neutral-200);
	font: var(--fw-bold) 2rem var(--ff-primary);
}

.trending--title a {
	color: var(--clr-neutral-400);
	font: var(--fw-bolder) 1.25rem var(--ff-primary);
}

.trending--title a:is(:hover, :focus-visible) {
	color: var(--clr-accent-red);
}

.trending--description {
	color: var(--clr-neutral-300);
	font: var(--fw-normal) 1rem var(--ff-primary);
	/* max-width: 24ch; */
}

/* 
========== 
Media Queries
==========
*/

/* Tablet size ========== */
@media (min-width: 50rem) {
	/* fixes spacing ========== */
	body {
		padding: 0 2rem;
	}

	/* main heading font-size ========== */
	.main--heading--text {
		font-size: 3.75rem;
	}

	/* layout ========== */

	.main--wrapper {
		display: grid;
		grid-template-areas:
			"image   image"
			"heading cta"
			"news    news"
			"footer  footer";
		-moz-column-gap: 2rem;
		column-gap: 2rem;
	}

	.heading--img--container {
		grid-area: image;
	}

	.main--heading {
		grid-area: heading;
	}

	.aside--wrapper {
		grid-area: news;
	}

	.trending--article--container {
		grid-area: footer;
	}

	/* trending articles | footer ========== */
	.trending--article--container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.trending--article--column {
		flex-basis: 45%;
	}

	.trending--img--container {
		min-width: 40%;
	}
}

/* end of Tablet size ========== */

/* Desktop size ========== */

@media (min-width: 73.125rem) {
	/* spacing ========== */
	.main--heading--text,
	.heading--img--container,
	.main--paragraph--text,
	.cta,
	.aside--wrapper {
		margin-bottom: unset;
	}

	.main--wrapper {
		margin-bottom: 2rem;
	}

	/* main font-size ========== */
	.main--heading--text {
		font-size: 4rem;
	}

	/* main wrapper ========== */
	.main--wrapper {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
		gap: 2rem;
		grid-template-areas:
			"image image news"
			"heading cta news"
			"footer footer footer";
	}

	.heading--img--container {
		grid-column: span 2;
		margin: unset;
	}

	.main--heading {
		grid-area: heading;
	}

	.main--paragraph {
		padding-bottom: 1rem;
		grid-area: cta;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.main--paragraph .main--button {
		margin-bottom: unset;
	}

	/* news | aside wrapper ========== */
	.aside--wrapper {
		grid-area: news;
	}

	/* trending articles | footer ========== */
	.trending--article--container {
		display: flex;
		grid-area: footer;
	}

	.trending--article--container > article {
		flex: 1;
		align-items: flex-start;
	}

	.trending--article {
		flex-basis: 100%;
	}

	.trending--top {
		font-size: 2.25rem;
	}

	.trending--title a {
		font-size: 1.25rem;
	}

	.trending--description {
		font-size: 1rem;
	}
}
